body {
    display: flex;
    flex-direction: column;
    background-color: #0f110f !important;
}


.team {
    margin-top: 30px;
    padding-top: 30px;
    position: center;
    font-size: 40px;
}

/*align .menu-left to left, .menu-right to right and .title to center*/
.sidenav { 
    height: 50%; 
    width: 250px; 
    position: fixed; 
    top: 100; Left: 10; 
    padding-top: 30px; 
    background-color: #2e2e2e; 
    z-index: 999; 
    transition: 0s; 
    overflow-x: hidden; 
    border-radius: 15px;
    visibility: hidden ;
    }

.sidenav a { 
    display: flex;
    text-decoration: none;
    font-size: 20px; 
    color: #ffffff; 
    padding: 8px 8px 8px 35px; 
    transition: 0s }
    
.sidenav a:hover { 
    color: hsl(0, 0%, 100%);
    background-color: #558058;
}
.sidenav .closeBtn {position: absolute;
    top: 0; 
    right: 20px; 
    font-size: 36px; 
    padding: 8px 8px 8px 35px;}

.open {font-size: 30px; 
    cursor: pointer; 
    color: #f1f1f1; 
    padding: 8px 8px 8px 35px;}

.menu-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.popup{
    display: flex;
    flex-direction: column;
    width: 400px;
    top: 350px;
    height: 450px;
    background: rgb(44, 44, 44);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    color:rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}


.meaning {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    margin: 50px;

}
.close-btn {
    padding: 20px;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.material-symbols-outlined{
    padding: 20px 20px;
    top: 0px;
    right: 0px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    color:rgb(255, 255, 255);

}

.logo {
    margin-left: 0%;
    margin-bottom: 5%;
    padding-top: 2%;

}


.title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2bff00;
    /*choose a font with minimal letter spacing*/
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
       
    padding: 20px 20px 20px 20px;
}


  
#board-container {
    margin-top: 0%;
    padding-top: -10%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#game-keyboard {
    display: fixed;
    position: fixed;
    bottom: 10px;
    align-items: center;
    transform: translate(20%, 0);

    justify-content: center;

}


.keyboard-key {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 2px 4px 2px 2px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    background-color: #818384;
    color: #ffffff;
    flex: 1;
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}
.custom-notification {
    position: fixed;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    z-index: 9999;
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-align: center;
}

.keyboard-row {
    margin-bottom: 3px;
}

#board {
    padding: 0px 0px;
}

.game-tile {
    border: 2px solid #3a3a3c;
    /*center letters inside game tiles vertically and horizontally*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*choose a bold font*/
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.game-row {
    padding: 3px;
    gap: 3px;
    height: 80%;
}

.game-tile {
    color: #fff;
    border-radius: 4px;
}

.shake {
    animation: shake 0.5s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .flip-animation {
    animation: flip 0.5s ease-in-out;
  }
  
  @keyframes flip {
    0% {
      transform: rotateY(0);
    }
    100% {
      transform: rotateY(180deg);
    }
  }